apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: cbs-autotest-pvc
  namespace: {{ namespace }}
  annotations:
    nfs.io/service-name: "cbs-autotest"
  labels:
    app: cbs-autotest-pvc
spec:
  storageClassName: cbs-autotest-storage
  accessModes: [ReadWriteMany]
  resources:
    requests:
      storage: 500Mi