api-test/apitest.egg-info/
api-test/build/
api-test/dist/
api-test/~$CBS-ShweBank_API_Checklist.xlsx
api-test/apitest/tests/shwebank/stored_procedure/__pycache__/
api-test/apitest/tests/shwebank/stored_procedure/fo/__pycache__/
api-test/apitest/tests/shwebank/stored_procedure/bo/__pycache__/
api-test/Testcases/~$CBS-SHWE_TC_FO_StoreSTOCK_v1.0.xlsx
api-test/Testcases/~$CBS-SHWE_TC_BO_Stored_v1.0.xlsx
api-test/apitest/tests/shwebank/batch/__pycache__/
ui-test/venv/
ui-test/__pycache__/
ui-test/tests/test_dir/shwebank_bo/__pycache__/
ui-test/tests/test_dir/shwebank_bo/accounting/__pycache__/
ui-test/tests/test_dir/shwebank_bo/administration/bank_administration/__pycache__/
ui-test/tests/test_dir/shwebank_bo/administration/list/__pycache__/
ui-test/tests/test_dir/shwebank_bo/administration/preference/__pycache__/
ui-test/tests/test_dir/shwebank_bo/administration/system/__pycache__/
ui-test/tests/test_dir/shwebank_bo/cash/__pycache__/
ui-test/tests/test_dir/shwebank_bo/credit/__pycache__/
ui-test/tests/test_dir/shwebank_bo/customer/__pycache__/
ui-test/tests/test_dir/shwebank_bo/deposit/__pycache__/
ui-test/tests/test_dir/shwebank_bo/ifc/__pycache__/
ui-test/tests/test_dir/shwebank_bo/login/__pycache__/
ui-test/tests/test_dir/shwebank_bo/mortgage/__pycache__/
ui-test/tests/test_dir/shwebank_bo/payment/__pycache__/
ui-test/tests/test_dir/shwebank_fo/__pycache__/
ui-test/tests/test_dir/shwebank_fo/accounting/__pycache__/
ui-test/tests/test_dir/shwebank_fo/cash/__pycache__/
ui-test/tests/test_dir/shwebank_fo/credit/__pycache__/
ui-test/tests/test_dir/shwebank_fo/customer/__pycache__/
ui-test/tests/test_dir/shwebank_fo/deposit/__pycache__/
ui-test/tests/test_dir/shwebank_fo/deposit_xlsx/__pycache__/
ui-test/tests/test_dir/shwebank_fo/fixed_asset/__pycache__/
ui-test/tests/test_dir/shwebank_fo/mortgage/__pycache__/
ui-test/tests/test_dir/shwebank_fo/payment/__pycache__/
ui-test/tests/test_dir/shwebank_fo/stock/__pycache__/
ui-test/tests/test_dir/shwebank_fu/accounting/__pycache__/
ui-test/tests/test_dir/shwebank_fu/admin/__pycache__/
ui-test/tests/test_dir/shwebank_fu/all_bo_and_all_fo_other/__pycache__/
ui-test/tests/test_dir/shwebank_fu/all_bo_credit_admin_deposit_fo_deposit/__pycache__/
ui-test/tests/test_dir/shwebank_fu/all_fo_credit/__pycache__/
ui-test/tests/test_dir/shwebank_fu/all_fo_credit_other/__pycache__/
ui-test/tests/test_dir/shwebank_fu/all_fo_other/__pycache__/
ui-test/tests/test_dir/shwebank_fu/collateral/__pycache__/
ui-test/tests/test_dir/shwebank_fu/credit/__pycache__/
ui-test/tests/test_dir/shwebank_fu/customer/__pycache__/
ui-test/tests/test_dir/shwebank_fu/deposit/__pycache__/
ui-test/tests/test_dir/shwebank_fu/fixed_asset/__pycache__/
ui-test/tests/test_dir/shwebank_fu/fx/__pycache__/
ui-test/tests/test_dir/shwebank_fu/test_fo/__pycache__/
ui-test/tests/test_dir/shwebank_fu_104/all_bo_credit_admin_deposit_fo_deposit/__pycache__/
ui-test/tests/test_dir/shwebank_posting/__pycache__/
ui-test/tests/test_dir/shwebank_trs/__pycache__/
ui-test/tests/test_dir/shwebank_trs/test_bo/__pycache__/
ui-test/tests/test_dir/shwebank_ui/test_bo/__pycache__/
ui-test/tests/test_dir/shwebank_ui/test_bo/test_accounting/__pycache__/
ui-test/tests/test_dir/shwebank_ui/test_bo/test_accounting/test_utilities/__pycache__/
ui-test/tests/test_dir/shwebank_ui/test_bo/test_administration/__pycache__/
ui-test/tests/test_dir/shwebank_ui/test_bo/test_credit/__pycache__/
ui-test/tests/test_dir/shwebank_ui/test_bo/test_customer/__pycache__/
ui-test/tests/test_dir/shwebank_ui/test_bo/test_deposit/__pycache__/
ui-test/tests/test_dir/shwebank_ui/test_bo/test_ifc/__pycache__/
ui-test/tests/test_dir/shwebank_ui/test_bo/test_mortgage/__pycache__/
ui-test/tests/test_dir/shwebank_ui/test_bo/test_payment/__pycache__/
ui-test/tests/test_dir/shwebank_ui/test_fo/__pycache__/
ui-test/tests/test_dir/shwebank_ui/test_fo/test_cash/__pycache__/
ui-test/tests/test_dir/shwebank_ui/test_fo/test_credit/__pycache__/
ui-test/tests/test_dir/shwebank_ui/test_fo/test_customer/__pycache__/
ui-test/tests/test_dir/shwebank_ui/test_fo/test_deposit/__pycache__/
ui-test/tests/test_dir/shwebank_ui/test_fo/test_fixed_asset/__pycache__/
ui-test/tests/test_dir/shwebank_ui/test_fo/test_mortgage/__pycache__/
ui-test/tests/test_dir/shwebank_ui/test_fo/test_payment/__pycache__/
ui-test/tests/test_dir/shwebank_ui/test_fo/test_stock/__pycache__/
ui-test/tests/test_dir/shwebank_integration/__pycache__
ui-test/tests/test_dir/shwebank_performance/__pycache__/
ui-test/tests/test_dir/shwebank_bo/fixed_asset/__pycache__/
ui-test/tests/test_dir/shwebank_fo/overdraft/__pycache__/
ui-test/tests/test_dir/shwebank_run_by_api/__pycache__/
ui-test/webui_test/__pycache__/
ui-test/webui_test/helium/__pycache__/
ui-test/webui_test/helium/_impl/__pycache__/
ui-test/webui_test/helium/_impl/util/__pycache__/
ui-test/webui_test/logging/__pycache__/
ui-test/webui_test/testdata/__pycache__/
ui-test/webui_test/running/__pycache__/
ui-test/tests/logs/
ui-test/tests/test_dir/shwebank_performance/deposit/__pycache__/
ui-test/webui_test.egg-info
ui-test/dist/
ui-test/build/
ui-test/.pytest_cache/
ui-test/tests/run/logs/
ui-test/tests/run/reports/
ui-test/logs/
ui-test/reports/
ui-test/test_history/
ui-test/tests/data_excel/~$data_transaction_rules.xlsx
ui-test/~$CBS-ShweBank_UI_Checklist.xlsx
ui-test/tests/test_dir/shwebank_regression/__pycache__/
ui-test/tests/test_dir/shwebank_fo/treasury/__pycache__/
ui-test/tests/test_dir/shwebank_fo/trade_finance/__pycache__/
ui-test/tests/__pycache__/
ui-test/tests/test_dir/shwebank_fo/others/__pycache__/
ui-test/tests/test_dir/test_run_by_api/__pycache__/
tool-get-config-files/config_files/bo/form_action_raw/
tool-get-config-files/raw_forms_backup/*.json
jcodegen/ui_form_action/fo_act/*.py
jcodegen/ui_form_action/fo_crd/*.py
jcodegen/ui_form_action/fo_csh/*.py
jcodegen/ui_form_action/fo_ctm/*.py
jcodegen/ui_form_action/fo_dpt/*.py
jcodegen/ui_form_action/fo_fac/*.py
jcodegen/ui_form_action/fo_mtg/*.py
jcodegen/ui_form_action/fo_pmt/*.py
jcodegen/ui_form_action/fo_tfx/*.py
jcodegen/ui_form_action/fo_tmm/*.py
jcodegen/ui_form_action/fo_trd/*.py
jcodegen/ui_form_action/fo_trs/*.py
jcodegen/ui_form_action/fx_transaction/*.py
jcodegen/ui_form_action/*.py
jcodegen/ui_form_action_view/fo_act/*.py
jcodegen/ui_form_action_view/fo_crd/*.py
jcodegen/ui_form_action_view/fo_csh/*.py
jcodegen/ui_form_action_view/fo_ctm/*.py
jcodegen/ui_form_action_view/fo_dpt/*.py
jcodegen/ui_form_action_view/fo_fac/*.py
jcodegen/ui_form_action_view/fo_mtg/*.py
jcodegen/ui_form_action_view/fo_pmt/*.py
jcodegen/ui_form_action_view/fo_tfx/*.py
jcodegen/ui_form_action_view/fo_tmm/*.py
jcodegen/ui_form_action_view/fo_trd/*.py
jcodegen/ui_form_action_view/fo_trs/*.py
jcodegen/ui_form_action/bo_003_ctm/*.py
jcodegen/ui_form_action/bo_005_dpt/*.py
jcodegen/ui_form_action/bo_006_crd/*.py
jcodegen/ui_form_action/bo_007_pmt/*.py
jcodegen/ui_form_action/bo_009_trs/*.py
jcodegen/ui_form_action/bo_010_mtg/*.py
jcodegen/ui_form_action/bo_012_act/*.py
jcodegen/ui_form_action/bo_013_foc/*.py
jcodegen/ui_form_action/bo_015_adm/*.py
jcodegen/ui_form_action/bo_016_job/*.py
jcodegen/ui_form_action/bo_021_cz/*.py
jcodegen/ui_form_action/bo_022_trd/*.py
ui-test/tests/test_dir/shwebank_bo_approval/__pycache__/
ui-test/tests/test_dir/shwebank_bo_not_approval/__pycache__/
